<%= form_for @list, :html => {:class => "form-horizontal center-block"} do |f| %>
  <h1 class="form-group text-color title accent-text">Curate List</h1>
  <% if current_scene %>
  <div class="form-group">
    <input type="checkbox" name="scene_id" value=<%= params[:id] %> checked >
    <%= f.label "Add Scene to list" %>
  </div>
  <% end %>
  <%= params.inspect %>
  <div class="form-group">
    <%= f.label :title, "title", class: " control-label" %>
    <%= f.text_field :title, :required => true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description, "description", class: " control-label" %>
    <%= f.text_area :description, :required => true, size: "60x15", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit "Curate", class: "btn btn-special center-bl form-control" %>
  </div>
<% end %>
