<%= form_for @user, url: "/sessions", method: "post", :html => {:class => "form-horizontal center-block"} do |f| %>
  <h1 class="form-group title">Login</h1>
  <div class="form-group">
    <%= f.label :email, "email", class: " control-label" %>
    <div>
      <%= f.text_field :email, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div>
      <%= f.label :password, "password", class: "control-label" %>
      <%= f.password_field :password, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div>
      <%= f.submit "Submit", class: "btn btn-default btn-purple center-bl form-control" %>
    </div>
  </div>
<% end %>
