<script>
  //autocomplete-rails jquery-ui function
  $('#search').bind('railsAutocomplete.select', function (event, data) {
    $('#search-form').submit()
  })
</script>
<div class="container center-content">
  <div class="row col-md-12 center-content">
    <div class="col-md-12 center-block">
      <h1 class="title accent-text">Scenes</h1>
    </div>
    <%= form_tag(scenes_path, :method => "get", id: "search-form", class: "col-md-12") do %>
    <div class="form-group">
      <%= text_field_tag :search, params[:search], class: "search-query accent-text form-control", placeholder: "Film Title", type: "search", data: {autocomplete: scenes_autocomplete_scene_film_title_path} %>
      <%= submit_tag "Search", class: "btn btn-special form-control" %>
    </div>
    <%end%>


    <% if current_user %>
    <%= form_for @listscene, :html => {:class => "form-horizontal center-block"} do |f| %>
      <hr>
      <% if @user_lists.size > 0 %>
        <div class="form-group">
          <%= f.label "Add this scene to one or more of your lists using the menu below", class: "context-text" %>
          <%= f.select( :list_id, @user_lists.collect { |a| [a.title, a.id] }, {:required => true}, {:multiple => true, class: "input-lg"}) -%>
        </div>
        <div class="form-group">
          <%= f.hidden_field :scene_id, :value => params[:id] %>
        </div>
        <div class="form-group">
          <%= f.submit "Add", class: "btn btn-special form-control" %>
        </div>
        <strong class="context-text">or</strong>
      <% end %>
    <% end %>
    <%= button_to "Add to New list", scene_new_list_path, :method => :get, class: 'btn btn-special' %>
    <% end %>


    
    <div class="col-md-12 center-block">
      <div class="index col-md-12 index-panel">
        <% if @scenes.size > 0 %>
        <% @scenes.each do |scene| %>
        <div class="col-md-12 index" id=<%=scene.id%>>
          <h5 class="accent-text"><%= link_to scene.title, scene_path(scene.id), class: "accent-text title" %></h5>
          <p>
          <span class="context-text">
            directed by
          </span>
          <span class="accent-text"><%= scene.director%></span>
          <span class="context-text">
            | released in
          </span>
          <span class="accent-text"><%= scene.release_year%></span>
          <span class="context-text">
            | scene starring
            <span class="accent-text"><%= scene.actor_1%></span>
          </p>
          <div class="col-md-6 center-block"><hr></div>
        </div>
        <% end %>
        <% else %>
          <div class="col-md-12 index">
            <h5 class="accent-text">your search for returned 0 result...try again?</h5>
          </div>
          <%= button_to "back to scenes", scenes_path, :method => :get, class: 'btn btn-special' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
