<div class="container" id="scene_info">
  <div class="col-lg-6 col-lg-offset-3 text-center">
    <div>
     	<h1 class="title">Scene From the Film <%= @scene.title %></h1>
    </div>
    <div>
      <p><span class="context-text"><%= @scene.locations %></span></p>
      <%= button_to "add scene to list", scene_new_list_path, :method => :get, class: 'btn btn-purple' %>
      <%= button_to "back to scenes", scenes_path, :method => :get, class: 'btn btn-purple' %>
    </div>
  </div>
</div>

<div class = "container">
  <div class="col-lg-6 col-lg-offset-3 text-center">
    <h2 class="title">List Appearances</h2><hr>
    <% if @scene.lists.size > 0 %>
      <% @scene.lists.each do |list| %>
        <p>
          <strong><%= link_to list.title, list_path(list.id) %></strong><br>
          <p><span><%= list.description%></span></p>

          <div class="button"><p><span class="context-text">curator</span> <span class="accent-text"><%=link_to "#{list.user.username}", user_path(list.user.id), class: "accent-text" %></span></p>
          </div><br><hr>

        </p>
      <% end %>
    <% else %>
      <h4>This Scene has not been curated in any lists yet</h4>
    <% end %>
  </div>
</div>
