<%= form_for @user, :html => {:class => "form-horizontal center-block"} do |f| %>
  <h1 class="form-group text-color title accent-text margin-top">Signup</h1>
  <div class="form-group">
    <%= f.label :username, "username", class: "control-label" %>
    <%= f.text_field :username, :required => true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description, "description", class: " control-label" %>
    <%= f.text_field :description, :required => true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email, "email", class: " control-label" %>
    <%= f.text_field :email, :required => true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password, "password", class: "control-label" %>
    <%= f.password_field :password, :required => true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-default btn-special center-bl form-control" %>
  </div>
<% end %>
