<div class="container" id="profile_info">
  <div class="col-lg-6 col-lg-offset-3 text-center">
    <div>
     	<h1 class="title accent-text"><%= @user.username %></h1>
    </div>
    <div>
      <p><span class="context-text"><%= @user.description %></span></p>
      <p><span class="context-text">joined on</span> <span class="accent-text"><%= @user.created_at.strftime("%B %-d, %Y, at %l:%M%P") %></span></p>
    </div>
    <% if current_user == @user %>
    <div class="btn-group">
      <div class = "button text-center">
        <%= link_to "edit profile", edit_user_path(@user.id), class: 'btn btn-light center-block' %>
      </div>
      <div class = "button text-center">
        <%= button_to "remove account", @user, method: :delete, data: {confirm: "Are you sure you want to delete your account?"}, class: 'btn btn-light center-block' %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class = "container">
  <div class="col-lg-6 col-lg-offset-3 text-center">
    <h2 class="title accent-text">Lists</h2><hr>
    <% if current_user == @user %>
      <%= button_to "curate new list", new_list_path, :method => :get, class: 'btn btn-special' %><hr>
    <% end %>
    <% if @user.lists.size > 0 %>
      <% @user.lists.each do |list| %>
        <h4><%= link_to list.title, list_path(list.id), class: 'title accent-text'%></h4>
        <p class="context-text"><%= list.created_at.strftime("%B %-d, %Y, at %l:%M%P") %><p>
        <% if current_user == list.user %>
        </br>
        <% end %>
        <br><hr>
      <% end %>
    <% else %>
      <h4>This User has not posted any lists</h4>
    <% end %>
  </div>
</div>
