<div class="jumbo img-responsive">
	<div class="container-fluid center-content">
		<h1 class="text-center title accent-text photo-title"><strong>Flick Hike</strong></h1>
 	</div>
</div>
<div class="container">
	<div class="row center-content">
		<div class="col-md-12 site-info">
			<h4 class="text-center">Flick Hike is San Francisco's filmic gateway to urban life. Curate lists of memorable film scenes, plot your own filmic adventures around the city, and share them with others. <a class="accent-text" href="/signup">Sign up</a> now to get in on the scene.</h4>
		</div>
	</div><hr>
	<div class="row center-content">
		<div class-"col-md-12">
	   <h1 class="text-center brand-msg accent"><%= link_to(lists_path) do %>
    <strong class="accent-text">peruse richly curated lists of San Francisco's coolest film locations</strong>
    <% end %>
		</h1>
		</div>
	</div>
</div><hr>
<div class="container text-center">
	<div class="row col-md-12 center-content">
		<div class="col-md-4">
			<span class="glyphicon glyphicon-film"></span>
			<h4><%= link_to "Discover Scenes", scenes_path, class: "accent-text text-center" %></h4>
			<h5 class="text-center context-text">Something about how great scenes are.</h5>
		</div>
		<div class="col-md-4">
			<span class="glyphicon glyphicon-check"></span>
			<h4><%= link_to "Curate A List", new_list_path, class: "accent-text text-center" %></h4>
			<h5 class="text-center context-text">Something about how great it is to make lists of scenes.</h5>
		</div>
		<div class="col-md-4">
			<span class="glyphicon glyphicon-list"></span>
			<h4><%= link_to "Discover Lists", lists_path, class: "accent-text text-center" %></h4>
			<h5 class="text-center context-text">Something about how great lists are.</h5>
		</div>
	</div>
</div><hr>
<%= render "map" %>
