<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

  <title>FlickHike</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |key, value| %>
  <div class="notice accent-text alert alert-<%= key %>"><%= value %></div>
<% end %>

<div class="container" id="center-content">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <div>
        <img class="navbar-brand-icon" src = "/assets/navbar-brand-icon.png">
      </div> -->
      <a class="navbar-brand" href="/">Flick Hike</a>
    </div>
    <div class="collapse navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Scenes", scenes_path %></li>
        <li><%= link_to "Lists", lists_path %></li>
        <li><%= link_to "Curate A List", new_list_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><%= link_to "Profile", user_path(current_user) %></li>
          <li><%= link_to "Log Out", destroy_session_path %></li>
        <% else %>
          <li><%= link_to "Signup", new_user_path %></li>
          <li><%= link_to "Log In", new_session_path %></li>
        <% end %>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>
</div>

<%= yield %>

  <footer class="footer">
		<div class="container">
			<span class="context-text">
				Flick Hike 2016
			</span>
			<span class="context-text">
				<%= link_to "About", about_path, class: "accent-text" %>
			</span>
		</div>
	</footer>

  <!-- Google Maps JavaScript API -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHxVxmugGpxokn3pEHsVX5281RNFFAw8M&signed_in=false&callback=initMap"async defer></script>

</body>
</html>
